@media only screen and (min-width: 992px) {
    left{
        padding-top: 0px;
    }
}

.main{
    height: 48vh;

    background-color: #EAE7E7;
    display: flex;
    justify-content: center;


}
.left{
    padding-top: 40px;
   
    width: 50vw;
    text-align: center;
}

.right{
   
    padding: 20px;
    width: 45vw;
}


.percentages{
    display: flex;

    
}
.main-heading{
    position: relative;
    top: 3vh;
}
.main-heading , .second-heading{
    height: 4.5vh;
    padding: 10px;
    font-size: 1.6em;
    font-family: 'Raleway', 'sans-serif';
    color: #544949;
}
.percentages{
    position: relative;
    top: 6vh;
    padding: 10px;
    height: 8vh;
}
.percentages *{
    
    font-family: 'Roboto','sans-serif';

}
.i{
    color: #544949;
    font-size: 1.8em;
}
.j{
    color: #544949;
    font-size: 1.2em;
}
.one, .two, .three{
    color: #544949;
    width: 20vw;
    height: 10vh;
}
.start-fr,.start-know{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 14vw;
    color: white;
    text-align: center;
    
}
.second-heading{
    position: relative;
    top: 8vh;
    color:#544949;
}
.buttons{
    position: relative;
    top: 10vh;
    display: flex;

 
}
.start-fr{
    width: 10vw;;
    background-color:#544949;

}
.start-fr a{
    color: white;
    font-size: 1em;
    text-decoration: none;
}
.start-know a{
    color: #544949;
    font-size: 1em;
    text-decoration: none;
}
.start-know{
    background-color: white;
}